*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1;);
    background-repeat: no-repeat;
    background-size: cover;
}

a button{
    height: 50px;
    width: 100px;
    margin-left: 500px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    
}
.donor{
    margin: auto;
    height: 70px;
    width: 120px;
    margin-top: 100px;
}
h1{
    text-align: center;
    font-size:50px;
    color: navy;
}

.txt{
    display: flex;
    gap: 40px;
    margin: auto;
    height: 60px;
    width: 1305px;
    margin-top: 50px;

}
input{
    height: 40px;
    width: 250px;
    border: 2px solid black;
    background-color: rgb(192, 215, 250);
}
.btns{
    text-align: center;
    height: 100px;
    width: 200px;
    margin-right: 50px;
    padding-right: 200px;
    align-content: center;
    padding-top: 15px;
}
.btns button{
    height: 40px;
    width: 60px;
    border-radius: 5px;

}
.container{
    display: flex;
    align-items: center;
}
.nav{
    width: 100%;
    height: 7vh;
    display:flex;
    align-items: center;
    justify-content: center;
}